/* Estilos para el encabezado */
header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Posición absoluta para que flote sobre el contenido */
    width: 100%; /* Abarca todo el ancho de la pantalla */
    top: 0; /* Se coloca en la parte superior */
    background-color: black; /* Fondo semitransparente */
    z-index: 111; /* Asegura que el header esté sobre el contenido */
  }
body {
    margin: 0;
}
/* Estilo para el contenido */
.content {
    margin-top: 80px;  /* Espacio debajo del navbar (igual a la altura del navbar) */
  }
nav {
    display: flex;
    gap: 5px;
    padding-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}
header img {
    margin: 0;
    padding: 20px 50px;
}

.hamburger {
    display: none; /* Oculta el icono del menú hamburguesa */
}

#nav-menu :hover {
        background-color:#fbbb0e;
        border-color: #fbbb0e;
        border-radius: 10px;
    }

/* Ejemplo con media query */
@media (max-width: 768px) {
    header {
        justify-content: flex-end;
        display: flex;
    }

    .logo {
        max-width: 180px;
        margin: 0;
        padding: 15px;
    }
    #nav-menu {
        display: none; /* Oculta el menú en móviles */
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0; /* Para que comience desde el borde izquierdo */
        background-color: #333;
        width: 100%; /* Ocupa todo el ancho */
        border-radius: 10px;
        padding: 10px;
        z-index: 1002;
      }

    #nav-menu :hover {
        background-color:#fbbb0e;
        border-color: #fbbb0e;
        border-radius: 10px;
    }
    nav a {
        padding: 5px 20px;
        margin: 5px;
    }
    
      /* Icono del menú hamburguesa alineado a la izquierda */
    .hamburger {
        display: block;
        position: absolute;
        left: 12px;
        top: 0;
        height: 40px;
        width: 40px;
        padding: 20px 20px;
        background-color: transparent;
        z-index: 1002;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
    }
      /* Muestra el menú cuando se activa la clase 'open' */
      #nav-menu.open {
        display: flex;
      }
}