<header>
    <img src="../assets/img/logo_footer.png" width="300" alt="Logo" class="logo">
    <!-- Ícono de menú hamburguesa -->
    <div class="hamburger" onclick="toggleMenu()">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" />
    </svg>
    <i class="icofont-navigation-menu"></i>
    </div>
    <nav id="nav-menu">
      <a href="index.html">INICIO</a>
      <a href="../pages/nosotros.html">NOSOTROS</a>
      <a href="../pages/servicios.html">SERVICIOS</a>
      <a href="../pages/contacto.html">CONTACTO</a>
    </nav>
  </header>

  